@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav {
    background-color: rgb(93, 114, 224);
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    padding: 1rem 2rem;
    
}

.nav-list {
    flex: 1;
    display: flex;
    padding-right: 1rem;
    column-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-records {
    display: flex;
}

.nav-records > ul {
    flex: 1;
    display: flex;
    list-style: none;
}

.nav-title {
    flex: 1;
    text-align: center;
}

.dashboard-title {
    flex: 1;
    text-align: left;
}



.form {
    max-width: 21rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    border: 1px solid white;
    display:flex;
    flex-direction: column;
    background-color: #D3D3D3;
    padding: 4rem;
    align-items: center;
    border-radius: 16px;
    box-shadow: 200px, 200px #000000;
}

h1{
    font-weight: bold;
}
.form-input{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.title{
    font-size: xx-large;
    text-align: center;
    
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg{
    background-image: url("background.png");
    height: 100vh;
}
.margin{
    padding-top: 8rem;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 18rem 0 18rem;
    padding: 1px;
  }
  
  .grid-item {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    justify-items: center;
    flex-direction: column;
  }

  .devs{
    margin-top: 1rem;
    font-size: large;
    text-align: center;
    font-weight: bold;
  }
.aboutt{
    text-align: center;
    font-weight: 600;
    margin: 2rem 20rem 0 20rem;
    font-size: large;

}
